@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
html{
  scroll-behavior: smooth;
}

/* Add a fade-in animation for hover */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fixed {
  animation: fadeIn 0.2s ease-in-out;
}

.common-title {
  padding-bottom: 0.75rem;
  background-image: 
    linear-gradient(-75deg, 
    transparent 0,
    transparent 5%,
    rgba(255,255,255,0.7) 5%,
    rgba(255,255,255,0.7) 10%,
    transparent 10%,
    transparent 100%
  );
  background-size: 200% 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;  
  transition: 0.8s;

  &:hover {
    background-position: -120% 0;
  }
}